<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="styles/styles.css" />
		<link rel="stylesheet" href="styles/index.css" />
		<link rel="stylesheet" href="styles/Normalize.css" />
		<title>ИПР</title>
	</head>
	<body>
		<div class="container">
			<div class="header item">
				<div class="header__logo">ШКОЛА <br />800</div>

				<div class="header__info">
					<div class="header__title">
						Индивидуальный план развития и обучения
					</div>
					<div>
						для выстраивания, отслеживания, контроля, и рефлексии развития и
						обучения в Школе 800
						<div class="bold">на период с 18.09.2024 г. по 31.05.2025г.</div>
					</div>
				</div>
			</div>
			<div class="block1 item">
				<div class="block1__name title">БЛОК №1. МОИ ЦЕЛИ РАЗВИТИЯ</div>
				<div class="block1__items">
					<div class="block1__item">
						<div>Мои ФИО</div>
						<div>Соколов Дмитрий Александрович</div>
					</div>
					<div class="block1__item">
						<div>Моя должность</div>
						<div>Инженер-программист</div>
					</div>
					<div class="block1__item">
						<div>Мое СП</div>
						<div>Автозавод</div>
					</div>
					<div class="block1__item special">
						<div>
							Мои цели <br />(зачем мне разиваться и обучаться? что мне это
							даст?)
						</div>
					</div>
					<div class="block1__item special">
						<div>
							Какие компетенции я буду развивать? <br />(какие компетенции
							находятся в зоне моего ближайшего развития?)
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
