@import url(./fonts/fonts.css);
@page {
	size: A4; /* Формат страницы */
	size: 210mm 297mm;
	margin: 0cm; /* Поля со всех сторон */
}
@font-face {
	font-family: 'Grammatika';
	src: url('Grammatika-Regular.otf') format('otf'); /* Резервный вариант */
	font-weight: 400; /* Обычное начертание */
	font-style: normal;
	font-display: swap; /* Оптимизация загрузки */
}

body {
	font-size: 16px;
	font-family: Gramatika;
	padding: 0.5cm;
	background-color: #f4f4f4;
}

.title {
	color: #0c9488;
	font-weight: 700;
	margin-bottom: 20px;
}

.border__block {
	border-bottom: 1px solid rgba(0, 0, 0, 0.089);
}

.bold {
	font-weight: 700;
}

.border-b {
	border-bottom: 1px solid rgba(0, 0, 0, 0.089);
}

.undr-ln {
	text-decoration: underline;
	text-decoration-color: rgba(0, 0, 0, 0.089);
	line-height: 2;
	text-underline-offset: 4px;
}
.page-break {
	page-break-after: always; /* Новая страница после элемента */
}

.brl {
	border-top-left-radius: 20px;
}

.brr {
	border-top-right-radius: 20px;
}
.brl-b {
	border-bottom-left-radius: 20px;
}
.brr-b {
	border-bottom-right-radius: 20px;
}
.nb {
	border: none;
}

.tal {
	text-align: left;
}
